<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- google has to have less secure apps option enabled to give access permission -->
    <add key="EmailUserName" value="[HIDDEN]" />
    <add key="EmailPassword" value="[HIDDEN]" />
    <add key="ReceiverEmail" value="[HIDDEN]" />
  </appSettings>
</configuration>